<div fxLayoutAlign="center center" fxFlexFill class="main-class">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login Page</mat-toolbar>

        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup"
         (ngSubmit)="loginProcess()">  
            <mat-form-field>
              <input matInput placeholder="User name" formControlName="username">
            </mat-form-field>
          
            <mat-form-field>
                <input matInput type="password" placeholder="password" formControlName="password">
              </mat-form-field>

              <button mat-raised-button type="submit" color="primary">Login</button>
          </form>
          
    </mat-card>
</div>
